@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-image: url("./assets/world.png");
  align-content: center;
  font-family: 'Roboto', sans-serif;
}

.body-container {
  margin: 0 auto;
  width: 900px;
}

.page-title {
  text-align: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  margin: 10px;
  width: 250px;
  height: 250px;
}

.rotatable-container {
  transform-style: preserve-3d;
  transition: transform .35s .15s;
}

.rotatable-container:hover {
  transform: rotateY(180deg);
}

.rotatable {
  position: absolute;
  backface-visibility: hidden;
  box-sizing: border-box;
  padding: 30px;
  width: 250px;
  height: 250px;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}

.country {
  background-color: #FDEFE3;
  color: #FF6A00;
}

.capital {
  background-color: #FF6A00;
  transform: rotateY(180deg);
  color: #FDEFE3;
}
